run = "npm run dev"
entrypoint = "src/main.tsx"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[[deployment.rewrites]]
from = "/*"
to = "/index.html"

[[ports]]
localPort = 8080
externalPort = 80
